USE [LearnSQL]
GO
/****** Object:  Table [dbo].[Drinks]    Script Date: 27/03/2019 22:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Drinks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DrinkName] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Location]    Script Date: 27/03/2019 22:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Location](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Location] [varchar](50) NULL,
	[Country] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[People]    Script Date: 27/03/2019 22:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[People](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[Location] [int] NULL,
	[Age] [int] NULL,
	[DateOfBirth] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PeopleBasic]    Script Date: 27/03/2019 22:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PeopleBasic](
	[FirstName] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[Location] [varchar](50) NULL,
	[Age] [int] NULL,
	[DateOfBirth] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PersonDrinks]    Script Date: 27/03/2019 22:21:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonDrinks](
	[DrinkID] [int] NOT NULL,
	[PersonID] [int] NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Drinks] ON 

GO
INSERT [dbo].[Drinks] ([ID], [DrinkName]) VALUES (1, N'Fosters')
GO
INSERT [dbo].[Drinks] ([ID], [DrinkName]) VALUES (2, N'Guiness')
GO
INSERT [dbo].[Drinks] ([ID], [DrinkName]) VALUES (3, N'Vodka')
GO
SET IDENTITY_INSERT [dbo].[Drinks] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

GO
INSERT [dbo].[Location] ([ID], [Location], [Country]) VALUES (1, N'London', N'England')
GO
INSERT [dbo].[Location] ([ID], [Location], [Country]) VALUES (2, N'London', N'England')
GO
INSERT [dbo].[Location] ([ID], [Location], [Country]) VALUES (3, N'Paris', N'France')
GO
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[People] ON 

GO
INSERT [dbo].[People] ([ID], [FirstName], [Surname], [Location], [Age], [DateOfBirth]) VALUES (1, N'Scott', N'Johnson', 1, 28, CAST(0x78170B00 AS Date))
GO
INSERT [dbo].[People] ([ID], [FirstName], [Surname], [Location], [Age], [DateOfBirth]) VALUES (2, N'Jennifer', N'Smith', 2, 28, CAST(0x52180B00 AS Date))
GO
INSERT [dbo].[People] ([ID], [FirstName], [Surname], [Location], [Age], [DateOfBirth]) VALUES (3, N'Marc', N'Blackburn', 3, 68, CAST(0xE9CE0A00 AS Date))
GO
SET IDENTITY_INSERT [dbo].[People] OFF
GO
INSERT [dbo].[PeopleBasic] ([FirstName], [Surname], [Location], [Age], [DateOfBirth]) VALUES (N'Scott', N'Johnson', N'London', 28, CAST(0x78170B00 AS Date))
GO
INSERT [dbo].[PeopleBasic] ([FirstName], [Surname], [Location], [Age], [DateOfBirth]) VALUES (N'Jennifer', N'Smith', N'Stantonbury', 29, CAST(0x52180B00 AS Date))
GO
INSERT [dbo].[PeopleBasic] ([FirstName], [Surname], [Location], [Age], [DateOfBirth]) VALUES (N'Marc', N'Blackburn', N'Paris', 65, NULL)
GO
INSERT [dbo].[PersonDrinks] ([DrinkID], [PersonID]) VALUES (1, 6)
GO
INSERT [dbo].[PersonDrinks] ([DrinkID], [PersonID]) VALUES (2, 6)
GO
INSERT [dbo].[PersonDrinks] ([DrinkID], [PersonID]) VALUES (3, 6)
GO
